*,
*::before,
*::after {
    box-sizing: border-box;
}




/*custom properties update for your own design*/
:root{
    --ff-primary: 'Source Sans Pro', san-serif;
    --ff_secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-white: #FFFFFF;
    --clr-light: #FFFCFF;
    --clr-dark: #212124;
    --clr-opaque: #212124;
    --clr-accent1: #cad2c5;
    --clr-accent2: #212124;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);

}

@media (min-width: 800px){
    :root{
        --fs-h1: 4.75rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5;
        --fs-body: 1.125rem;
    }
}

/*General Styles*/
html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-white);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
section {
    padding: 5em 2em;
}

img{
    display: block;
    max-width: 100%;
}

/*Typography*/
strong {font-weight: bold}

:focus {
    outline: 3px solid var(--clr-accent1);
    outline-offset: 3px;
}


h1 , h2, h3 {
    line-height: 1;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);}

.section__title {
    margin-bottom: .25cm;
}

.section__title--intro {
    font-weight: var(--fw-reg);
    text-shadow:1px 1px 2px var(--clr-opaque);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro{
    text-shadow: 1px 1px 2px var(--clr-dark);
}

.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent2);
    color: #ffff;
    padding: .25em;
    font-family: var(--ff_secondary);
    margin-bottom: 1em;
    
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.Logo {
    max-width: 100px;
    padding-top: 12px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;

    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: rgba(0,0,0,0.8);
	text-shadow:1px 1px 2px var(--clr-opaque);

}

.nav-open .nav {
    transform: translateY(0);
}

/* HAMBURGER BUTTON */
.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.container {
    padding: .5em;
    background: transparent;
    border: 0;
    position: fixed;
    right: 1em;
    top: -1em;
    z-index: 5;
}

.hamburger {
    right: 0;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: var(--clr-accent2);
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

/* HAMBURGER 2 */

.checkbox2:checked + label > .hamburger2 > .bar1{
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox2:checked + label > .hamburger2 > .bar2{
    transform: rotate(45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar3{
    transform: rotate(-45deg);
}

.checkbox2:checked + label > .hamburger2 > .bar4{
    transform: translateX(-40px);
    background-color: transparent;
}


/*  Intro Section   */

.intro {
    position: relative;
}

.intro__img{
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* - - - - - - - - - - Grid Setup - - - - - - - - - -*/

.highlight_section{
    background-color: var(--clr-white);
    background-blend-mode: overlay; 
    color: var(--clr-light);
    text-align: center;
    max-width: 1400px;
    margin:auto;
}

.highlights {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.grid-item {
    color: #212124;
    background-color: #fff;
    /* border: red 2px;
    border-style: solid; */
    min-width: 400px;
    min-height: 400px;
    position: relative;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.grid-item:hover {
    opacity: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 0 rgba(255,255,255,0.3), 0 0 1.2em rgba(255,255,255,0.5);
}

.grid1, .grid2, .grid3, .grid6 {
    min-width: 800px;
}

.inner-box{
    background: var(--clr-light);
    height: 2em;
    width: 2em;
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
    bottom: 40%;
    rotate: 45deg;
}

.left {
    background: var(--clr-white);
    height: 2em;
    width: 2em;
    position: absolute;
    left: 8px;
    bottom: 40%;
    rotate: 45deg;
}

.inner-box-vert{
    background: var(--clr-white);
    height: 2em;
    width: 2em;
    position: absolute;
    top: -18px;
    right: calc(90% / 2);
    rotate: 45deg;
}

.div-h {
    flex:1;
    position: relative;
    text-align: center;
    align-items: center;
}

.div-v {
    display: inline-block;
    position: relative;
    height: 100%;
}

.inner-format {
    /* border: red 2px;
    border-style: solid; */
    height: 100%;
    display: flex;
    flex: 1;
}

.inner-format-v {
    /* border: red 2px;
    border-style: solid; */
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 1;
}

.inner-img, .inner-img-1, .inner-img-3, .inner-img-4, .inner-img-6  {
    background-size: cover;
    width: 50%;
}

.bottom1, .bottom2 {
    width: 100%;
    height: 100%;
}

.bottom1 {
    background-image: url(../ASSESTS/stocks/stock1.jpg);
}

.bottom2 {
    background-image: url(../ASSESTS/stocks/stock2.jpg);
}

.inner-img-1 {
    background-image: url(../ASSESTS/stocks/stock3.jpg);
}
.inner-img-3 {
    background-image: url(../ASSESTS/stocks/stock4.jpg);
}
.inner-img-4 {
    background-image: url(../ASSESTS/stocks/stock5.jpg);
}
.inner-img-6 {
    background-image: url(../ASSESTS/stocks/stock6.jpg);
}

.grid1 {
    grid-area: 3 / 1 / 4 / 3;
} 
.grid2 {
    grid-area: 2 / 1 / 3 / 3; 
} 
.grid3 {
    grid-area: 1 / 1 / 2 / 3; 
} 
.grid4 {
    grid-area: 1 / 3 / 3 / 4; 
} 
.grid5 {
    grid-area: 3 / 3 / 5 / 4; 
} 
.grid6 {
    grid-area: 4 / 1 / 5 / 3; 
}



/*About me*/
.ext {
    background: var(--clr-light);
}

.About-me {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--clr-light);
}


@media (min-width: 600px) {



}








/*My Work Section*/
.My-work {
    background-color: var(--clr-dark);
    color: var(--clr-opaque);
    text-align: center;
}



/* FOOTER */

.footer {
    background: var(--clr-opaque);
    color: var(--clr-accent1);
    text-align: center;
    padding: 2.5em 0;
    
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.Footer__link {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.Footer__link:hover {
    filter: brightness(150%);
}

.social-list__link:hover {
    color: var(--clr-opaque);
    background-color: var(--clr-white);
    border-radius: 15%;
    width: 85px;
}

.github:hover, .linkedIn:hover {
    overflow: hidden;
    box-shadow: inset 0 0 0 rgba(255,255,255,0.3), 0 0 1.2em rgba(255,255,255,0.5);
}

.github {
    color: var(--clr-white);
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15);
    background-color: var(--clr-dark);
    border-radius: 15%;
    width: 85px;
}

.linkedIn {
    color: var(--clr-white);
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15);
    background-color: var(--clr-dark);
    border-radius: 15%;
    width: 85px;
}

.Footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 2em 0 0;
}

.social-list__item {
    margin: 0 .5em;
    font-size: 2.5em;
}

.social-list__link {
    padding: .5em;
}

/*https://www.youtube.com/watch?v=_xkSvufmjEs*/




/* Graphics for behind Header */
#canvas {
    border: 1px solid black;
}

.header_background {
    z-index: -2;
    position: fixed;
}

/*! Current position in video stage 17*/













